.tag-swapper-message,
.backup-database-message {
    background-color: #627f00;
    padding: 30px;
    color: #fff;
}

.tag-swapper-no-records-processed {
    background-color: #f00000;
}

.backup-database-message {
    background-color: #cb4b14;
}